.star {
    position: relative;
    width: 5px;
    height: 5px;
    filter: blur(3px);
    animation: starblink 7s ease infinite;
}

.one {
    background: white;
    top: 168px;
    opacity: 0;
    animation-delay: 2s;
    left: 284px;
    filter: blur(2px);
}

.two {
    background: white;
    top: 205px;
    opacity: 0;
    animation-delay: 1s;
    left: 586px;
    filter: blur(2px);
}
.three {
    background: white;
    top: 282px;
    opacity: 0;
    animation-delay: 3s;
    left: 956px;
    filter: blur(3px);
}
.four {
    background: white;
    top: 848px;
    opacity: 0;
    animation-delay: 5s;
    left: 1200px;
    filter: blur(2px);
}
.five {
    background: white;
    top: 818px;
    opacity: 0;
    animation-delay: 1s;
    left: 505px;
    filter: blur(3px);
}
.six {
    background: white;
    top: 669px;
    opacity: 0;
    animation-delay: 3s;
    left: 1142px;
    filter: blur(2px);
}
.seven {
    background: white;
    top: 541px;
    opacity: 0;
    animation-delay: 6s;
    left: 353px;
    filter: blur(2px);
}
.eight {
    background: white;
    top: 200px;
    opacity: 0;
    animation-delay: 4s;
    left: 1400px;
    filter: blur(2px);
}

@keyframes starblink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
