.next-button {
    position: absolute;
    max-width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 150px;
    cursor: pointer;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    background: #28282b82;
    border: none;
    font-size: 20px;
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
}
