.findme {
    position: absolute;
    width: 500px;
    height: 65px;
    background: #28282b82;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    justify-content: space-evenly;
    align-items: center;
    bottom: 10px;
    margin: auto;
    left: 0;
    right: 0;
    padding: 5px;
}

.findme div {
    display: flex;
    width: 120px;
    height: 64px;
    align-items: center;
    gap: 15px;
}

.findme p {
    color: white;
    text-align: left;
}
